<form>
    <label for="title">
        {{titulo}}
    </label>
    <input id="title" type = "text" name="title">
    <br>
    <label for="price">
        {{titulo2}}
    </label>
    <input id="price" type = "text" name="price">
    <br>
    <label for="thumbnail">
        {{titulo3}}
    </label>
    <input id="thumbnail" type = "text" name="thumbnail">
    <input id="btn" type="button" value="Subir">
    <br>
</form>
{{!-- 
 {{#if productos}} --}}
  <ul id="ulo">
  {{#each productos}}
    <li>{{title}} ${{price}} <img src={{thumbnail}} width="70" height="70"> </li>

  {{/each}}
  
  </ul>
    <br>
  <div> 
      <label>CHAT</label><br>
      <input type="text" placeholder="E-mail" id="mail">
      <input type="button" value="Log In" id="logearse">
      <ul id="contenedorDeMensajes">
          {{#each mensajes}}
            <li><p class="azulNegrita" style="color: blue; font-weight: bold; display: inline-block;">{{email}}</p> <p id="normalMarron" style="color: brown; display: inline-block;">{{date}}</p> <p id="italicVerde" style="color: green; font-style: italic; display: inline-block;" >{{msssj}}</p></li>
            
          {{/each}}
      </ul>
      <input type="text" placeholder="Mensaje" id="barraDeMensaje">
      <input type="button" value="Enviar" id="botonDeEnviar">
  </div>

    